<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Andoromeda VSTS" value="https://pkgs.dev.azure.com/andoromeda/_packaging/Andoromeda/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
