<div class="bottoming">
	<div class="paper">
        <h1>{{$t('contact_us')}}</h1>
        <h2>{{$t('how_to_contact_us')}}</h2>
        <p>
            {{$t('contact_us_for_the_text1')}} <a href="mailto:dex@kyubey.network">dex@kyubey.network</a> <br />{{$t('contact_us_for_the_text2')}}
        </p>
        <p>{{$t('contact_us_for_the_text3')}}</p>

        <div class="signature">
            <img src="/img/KYUBEY_logo.png" alt="LOGO" />
            <p>Kyubey Dex Team</p>
        </div>
	</div>
</div>
